@import url(./btn.css);

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

body {
  background: #E5E5E5;
}

.container {
  max-width: 1510px;
  margin: 0 auto;
  background-color: #fff;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 500;
}

h2 {
  font-size: 36px;
  line-height: 42px;
}

h3 {
  font-family: 'Open Sans';
  font-size: 30px;
  line-height: 41px;
  font-weight: 700;
}

h4 {
  font-family: 'Open Sans';
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  line-height: 21px;
}

h6 {
  font-family: 'Open Sans';
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-bar_header {
  background-color: #000000;
  padding: 0 140px 0 115px;
}

.nav-menu {
  display: flex;
}

.logo {
  display: flex;
}

.nav-menu__link {
  display: inline-block;
  color: #FFFFFF;
  padding: 28.5px 30px 28.5px 30px;
}

.nav-menu__link:hover {
  background-color: #EC7979;
}

.nav-menu__link:active {
  background-color: #AB4949;
}

.box__header-main {
  background-image: url(/images/bg-header.png);
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 208px 670px 185px 170px;
}

.promo__pretitle {
  text-align: center;
  text-transform: uppercase;
}

.pretitle_color_white {
  color: #FFFFFF;
}

.pretitle_padding_top {
  padding-top: 50px;
}

.pretitle_size_l {
  font-size: 48px;
  line-height: 56px;
}

.pretitle_align_left {
  text-align: left;
}

.separator {
  height: 1px;
  width: 170px;
  margin: 40px auto 40px auto;
  background-color: #EC7979;
}

.separator_color_white {
  background-color: #fff;
}

.separator_align_left {
  display: inline-block;
}

.subtitle {
  font-size: 18px;
  line-height: 21px;
  color: #86878B;
}

.promo {
  text-align: center;
}

.header__promo {
  text-align: left;
}

.btn_promo-header {
  padding-top: 42px;
}

.subtitle_color_white {
  color: #fff;
}

.pretitle_three_text_red span {
  color: #EC7979;
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
}

.pretitle_align_center {
  text-align: center;
}

.pretitle_padding_sign-up-box {
  padding: 30px 0 102px 0;
}

.promo__sign-up-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  right: 170px;
  top: 203px;
}

.input-primary {
  display: flex;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 19px;
}

.input-primary::placeholder {
  color: #BDBDBD;
  font-size: 14px;
}

.promo_input {
  margin: 0 50px 48px 50px;
}

.title_zise_xs {
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  color: #333333;
}

.media-box {
  display: flex;
}

.media-box_header {
  background-color: #F8EFEF;
  padding: 18px 170px 18px 170px;
}

.media-box__icon {
  display: flex;
  gap: 28px;
  align-items: center;
}

.media-box__item {
  padding-bottom: 18px;
}

.media-box__link {
  color: #CCC;
}

.media-box__link:hover {
  color: #AB4949;
}

.media-box__link:active {
  color: #EC7979;
}

.box_tabs {
  padding: 100px 170px 50px 170px;
  display: flex;
  justify-content: space-around;
  font-size: 0;
}

.tabs>input[type="radio"] {
  display: none;
}

.tabs>div {
  display: none;
  border: 1px solid #e0e0e0;
  font-size: 16px;
}

#tab-btn-1:checked~.tabs__content_first,
#tab-btn-2:checked~.tabs__content_second,
#tab-btn-3:checked~.tabs__content_three {
  display: flex;
  gap: 30px;
}

.tabs>label {
  display: inline-block;
  border: 1px solid #C6CBCD;
  border-radius: 5px 5px 0px 0px;
  padding: 7px 82px 7px 82px;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  position: relative;
  top: 1px;
}

.tabs>label:not(:first-of-type) {
  border-left: none;
}

.tabs>input[type="radio"]:checked+label {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

.tabs__main {
  display: flex;
  flex-direction: column;
}

.tabs__text {
  padding: 40px 0 0 100px;
}

.tabs__title {
  padding-bottom: 75px;
}

.tabs__description {
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 26px;
}

.tabs__image {
  display: flex;
}

.row_box_awesome {
  padding: 69px 170px 58px 170px;
  gap: 30px;
}

.col_box_awesome {
  flex-direction: column;
  text-align: center;
}

.col__title_padding_bottom {
  padding-bottom: 45px;
}

.box_pricing {
  background-color: #F5F5F5;
  padding: 100px 0 0 0;
}

.row_box_pricing {
  gap: 30px;
  justify-content: center;
  padding: 59px 0 50px 0;
}

.col_box_pricing {
  flex-direction: column;
  text-align: center;
}

.col__card-price {
  background-color: #333333;
  border: 1px solid #F5F5F5;
  color: #fff;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  padding: 28px 134.5px 28px 134.5px;
}

.col__card-price_cover {
  font-family: 'Open Sans';
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  padding: 12.5px 134.5px 12.5px 134.5px;
}

.col__card-price_under {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  padding: 13.5px 134.5px 13.5px 134.5px;
}

.list {
  display: flex;
  flex-direction: column;
}

.list__item {
  background-color: #fff;
  border: 1px solid #F5F5F5;
  color: #86878B;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  padding: 13px 126px 13px 126px;
}

.col_box_pricing-shadow {
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.col_box_pricing-aside {
  margin-top: 20px;
}

.box_feedback {
  padding: 110px 170px 64px 170px;
}

.col {
  display: flex;
}

.row {
  display: flex;
}

.col_box_feedback {
  gap: 30px;
}

.toasts-reviews {
  display: flex;
  flex-direction: column;
  gap: 66px;
}

.promo-profile {
  display: flex;
  gap: 30px;
}

.promo-profile__name {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.toasts-reviews__content {
  background-color: #E2E2E2;
  border-radius: 10px;
  padding: 38px 25px 38px 25px;
  text-align: center;
}

.tringal {
  position: relative;
  top: 272px;
  left: 80px;
}

.btn_banner {
  padding-top: 73px;
}

.promo_box_banner {
  background: url(/images/bg-banner.png);
  position: relative;
  padding: 100px 0 50px 0;
}

.promo_box_banner::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.subtitle_z-index_up {
  position: relative;
  z-index: 1;
}

.separator_z-index-up {
  position: relative;
  z-index: 1;
}

.pretitle_z-index_up {
  position: relative;
  z-index: 1;
}

.box_contact-us {
  padding: 50px 0 50px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}

.send-message {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.send-message_col {
  display: flex;
  flex-direction: column;
  gap: 85px;
  justify-content: flex-end;
}

.input-primary_size_xl {
  padding: 0 0 210px 0;
}

.media-box_footer {
  justify-content: center;
  color: #CCCCCC;
}

.ps {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  padding-top: 30px;
}

.container_backgraund_color_black {
  background: #000000;
  padding: 31px 0 30px 0;
}
